* {
    background-color: #7088A3;
    color:#D7B9D5 ;
    text-align: center;
}


h3::first-child {
    color:#64A6BD ;
    }


#prideline {
    color:#F4CAE0 ;
}

#head {
        color:#F4CAE0 ;
      }
